@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="border container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-white">Lista de Proveedores</h2>
        </div>
        <div class="col-6 text-right">
            @*Llamando a la partial view*@
            <partial name="_CreateButtonPartial" />
        </div>
    </div>
    <br />

    <div>
        @*El Count() sirve para saber si tabla esta vacio o no*@
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border table-light">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @*para mostara el nombre de la columna asigando(aca lo cambie el modelo con un [DisplaName])*@
                            @Html.DisplayNameFor(m => m.CompanyName)
                        </th>
                        <th>
                            @*para mostara el nombre de la columna asigando(aca lo cambie el modelo con un [DisplaName])*@
                            @Html.DisplayNameFor(m => m.Email)
                        </th>
                        <th>
                            @*para mostara el nombre de la columna asigando(aca lo cambie el modelo con un [DisplaName])*@
                            @Html.DisplayNameFor(m => m.Country)
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @*Para mostrar el contenido de la columna*@
                            @Html.DisplayFor(m => item.CompanyName)
                        </td>
                        <td>
                            @*Para mostrar el contenido de la columna*@
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td>
                            @*Para mostrar el contenido de la columna*@
                            @Html.DisplayFor(m => item.Country)
                        </td>
                        @*Llamamos al partial view que tiene las opciones de edicion,detalles y eliminacion y con el tag model le pasamos la id*@
                        <td>
                            <partial name="_TableButtonpartial" model="item.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
        else
        {
            <div class="text-light">
                <p>
                    No existe ninguna categoria
                </p>
            </div>
        }
    </div>
</div>

